.DS_Store
.package-lock.json
cypress/screenshots/
cypress/videos/
cypress/cucumber-json/*.json
cypress/reports/
cypress/support/reports/
cypress/downloads/
node_modules/
allure-results/
allure-report/